<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.filmapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Filmapp">

        <activity android:name="com.example.filmapp.Series.Ui.SerieSelectedActivity"></activity>
        <activity android:name=".Login.LoginActivity" />
        <activity android:name="com.example.filmapp.Series.Ui.SplashActivity">
        <activity android:name=".home.MelhoresActivity"></activity>
        <activity android:name=".home.AjudaActivity" />
        <activity android:name=".home.HistoricoActivity" />
        <activity android:name=".home.AcompanhandoActivity" />
        <activity android:name=".home.DescubraActivity"></activity>
        <activity android:name=".home.AgendaActivity" />
        <activity android:name=".home.AltaActivity" />
        <activity android:name=".home.HomeActivity"/>

       <activity android:name=".Login.LoginActivity"/>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Series.SerieSelectedActivity" />
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".SplashActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>