<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.filmapp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Filmapp">
        <activity android:name=".Configuracaoes.ConfiguracoesActivity"></activity>
        <activity android:name=".Login.AcessActivity" />
        <activity android:name=".Login.SignInActivity" />
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".Series.Ui.SerieSelectedActivity" />
        <activity android:name=".Series.Ui.SerieTemporadaActivity" />
        <activity android:name=".Series.Ui.SerieEpisodioSelectedActivity" />

        <activity android:name=".Home.MelhoresActivity"/>
        <activity android:name=".Home.AjudaActivity" />
        <activity android:name=".Home.HistoricoActivity" />
        <activity android:name=".Home.AcompanhandoActivity" />
        <activity android:name=".Home.DescubraActivity"/>
        <activity android:name=".Home.AgendaActivity" />
        <activity android:name=".Home.AltaActivity" />
        <activity android:name=".Home.HomeActivity"/>

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>